:root {{
              --color-primary: #4c9f70;
              --color-secondary: #496f5d;
              --color-dark: #49516f;
              --color-accent: #6279b8;
              --color-accent-2: #8ea4d2;
            }}