@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #4c9f70;
        --color-secondary: #496f5d;
        --color-dark: #49516f;
        --color-accent: #6279b8;
        --color-accent-2: #8ea4d2;
    }
}

.button-primary {
  @apply px-4 py-2 bg-primary rounded text-white cursor-pointer hover:shadow transition-all;
}

.button-secondary {
  @apply px-4 py-2 bg-gray-100 rounded text-gray-500 cursor-pointer hover:shadow transition-all;
}

body,
#root {
    height: 100%;
}

#root {
    min-height: 100vh;
}

main {
  min-height: calc(100vh - 56px);
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ribbons {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    pointer-events: none;
}

body {
    overflow-x: hidden;
}

canvas {
  height: 100% !important;
}
